
body {
    margin: 0;
    font-family: 'Arial', sans-serif; 
    line-height: 1.6;
    background-color: #f9fafb; 
    color: #1a202c; 
    overflow: hidden;
  }
  
  /* Hero Section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background: url("lms.jpg") no-repeat center/cover;
    color: #ffffff; 
    height: 90vh; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
  
  }
  
  /* Hero Content */
  .hero-content {
    max-width: 600px;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #4fd1c5; 
  }
  
  .hero-description {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: #e2e8f0; 
  }
  
 
  .hero-image {
    display: none; 
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .hero {
      flex-direction: column; 
      text-align: center;
      padding: 1.5rem;
    }
  
    .hero-content h1 {
      font-size: 2.5rem; 
    }
  
    .hero-description {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      padding: 1rem;
    }
  
    .hero-content h1 {
      font-size: 2rem; 
    }
  
    .hero-description {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .hero {
      padding: 0.5rem;
    }
  
    .hero-content h1 {
      font-size: 1.8rem; 
    }
  
    .hero-description {
      font-size: 0.8rem;
    }
  }