/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  height: 52px;
}

.left-navbar a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.right-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar Links */
.navbar-link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #f39c12; /* Hover effect for links */
}

/* Hamburger Icon */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  padding: 5px;
}

.hamburger .line {
  background-color: white;
  height: 4px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

/* Show hamburger icon on mobile screens */
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .right-navbar {
    display: none; /* Hide navbar links on mobile */
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #333;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  .right-navbar.open {
    display: flex; /* Show the navbar links when menu is open */
  }

  .navbar-link {
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
  }

  .navbar-link:hover {
    color: #f39c12;
  }

  /* Hamburger Animation when the menu is open */
  .hamburger .line.open:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
  }

  .hamburger .line.open:nth-child(2) {
    opacity: 0;
  }

  .hamburger .line.open:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
  }
}